@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
/* Primary */
    
    --strong-cyan: hsl(172, 67%, 45%);

/* Neutral */

    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-bg: hsl(184, 14%, 56%);
    --light-grayish-cyan-bg: hsl(185, 41%, 84%);
    --light-grayish-cyan: hsl(189, 41%, 97%);
    --white: hsl(0, 0%, 100%);

/* border-radius */
    --br : 1.5rem;
/* box-border-radius */
    --box-br : 0.5rem;
/* font-size */
    --font-size-normal: 1.6rem;
    --font-size-all-side-headings: 1rem;
    --font-size-form-outputs: 2.4rem;
    --font-size-select-tip-percet: 1.8rem;
}
html{
    font-size : 62.5%;
    font-family: 'Space Mono', monospace;
}
body{
    background-color: var(--light-grayish-cyan-bg);
}
main{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 5rem;
}
/* Utilities */
.flex-class{
    display: flex;
}
input,
button{
    cursor: pointer;
    border: none;
}
/* Container */
.container{
    background-color: var(--white);
    padding: 2em;
    gap: 1rem;
    border-radius: var(--br);

}
h1 span{
    display: block;
    color: var(--very-dark-cyan);
    letter-spacing: 1rem;
}
.bill{
    background: url(images/icon-dollar.svg) no-repeat left;
}

/* grid section tip percentage */
.tip-grid-container{
    display: grid;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six';
    gap: 1em;
    grid-auto-columns: 100px;
    grid-auto-rows: 40px;
}
.tip-grid-container:nth-child(1){
    grid-area: one;
}
.tip-grid-container:nth-child(2){
    grid-area: two;
}
.tip-grid-container:nth-child(3){
    grid-area: three;
}
.tip-grid-container:nth-child(4){
    grid-area: four;
}
.tip-grid-container:nth-child(5){
    grid-area: five;
}
.tip-grid-container:nth-child(6){
    grid-area: six;
}
/* grid-section-styling */
.tip-grid-container{
    width: 100%;
}
.button-percent-formatter {
    background-color: var(--very-dark-cyan);
    text-align: center;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 700;
    font-family: inherit;
    border-radius: var(--box-br);
}
.custom-percent{
    display: inline-block;
}
.label{
    display: block;
}
.tip-grid-container > div input{
    width: 100%;
    height: 100%;
    border: none;
    direction: rtl;
    text-align: center;
    font-size: var(--font-size-normal);
    font-family: inherit;
    font-weight: 700;
    background-color: var(--light-grayish-cyan);
    border-radius: var(--box-br);
}
.people{
    background: url(images/icon-person.svg) no-repeat left;
}
.input-box-formatting{
    background-position: calc(100%-20px);
    background-color: var(--light-grayish-cyan);
    border: none;
    direction: rtl;
    width: 100%;
    padding: .5em;
    font-family: inherit;
    border-radius: var(--box-br);
}

/* output container */

.number-styling{
    font-size: var(--font-size-form-outputs);
    color: var(--strong-cyan);
    font-weight: 700;
}
.output-container{
    background-color: var(--very-dark-cyan);
    color: var(--white);
    padding: 3em;
    border-radius: 1em;
    justify-content: space-between;
}
.output-container p span{
    display: block;
    color: var(--strong-cyan);
}
.reset-button{
    flex-grow: 3;
    width: 100%;
}
.button{
    background-color: var(--strong-cyan);
    color: var(--very-dark-cyan);
    font: inherit;
    font-size: var(--font-size-normal);
    border-radius: var(--box-br);
    width: 100%;
}

/* Media screen mobile view */
@media screen and (max-width: 750px){
    .tip-grid-container{
        grid-template-areas: 
        "one two"
        "three four" 
        "five six";
    }
    .container{
        flex-direction: column;
    }
    .output-container{
        flex-direction: column;
    }
    .tip-amount,
    .total{
        gap: 0;
    }
}
/* Media query desktop - view */
@media screen and (min-width: 750px){
    .tip-grid-container{
        grid-template-areas: 
        "one two three"
        "four five six";
    }
    .output-container{
        flex-direction: column;
    }
    .tip-amount,
    .total{
            gap: 5em;
            flex-grow: 1;
    }
    .space-between{
        justify-content: space-between;
    }
}
/* On-click behavoiur */
input:focus{
   border-click: red;
}
/* Footer */
.attribution { font-size: 11px; text-align: center; font-size: var(--font-size-normal); }
.attribution a { color: hsl(228, 45%, 44%); }
